configuration {
    font: "JetBrains Mono Nerd 8";
	show-icons: true;
	icon-theme: "Papirus";
    drun-display-format: "{icon} {name}";
    display-drun: "";
	rofi-sensible-terminal: "kitty";

	sort: true;
	modi:                       "drun";
    filebrowser-enhanced-mode: true;
	sorting-method: "fzf";
	drun-url-launcher: "xdg-open";
	hover-select: true;
	click-to-exit: true;

  kb-mode-next: "Shift+Right,Control+Tab,Tab";
  kb-element-next: "Control+i";

}
@theme "style.rasi"