[Unit]
Description=Swaybg wallpaper daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i /usr/share/backgrounds/default.jxl
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target