[Unit]
Description=wlsunset - a Wayland screen color temperature adjuster
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -s 18:30 -S 6:30 -d 1800
Restart=on-failure

[Install]
WantedBy=graphical-session.target