spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "wl-paste --type text --watch cliphist store"
spawn-at-startup "wl-paste --type image --watch cliphist store"
spawn-at-startup "pkill waybar"
// spawn-at-startup "sh" "-c" "python3 $HOME/.config/niri/scripts/niri_tile_to_n.py -n 2"
// spawn-at-startup "$HOME/.config/niri/scripts/niri-sidebar" "listen"
// spawn-at-startup "$HOME/.config/niri/scripts/niri-float-sticky"
// session saving and restoring, 
// spawn-at-startup "$HOME/.config/niri/scripts/nirinit" "-c" "$HOME/.config/niri/scripts/nirinit-config/config.toml"

// spawn-at-startup "kitten panel --single-instance --margin-top=700 --edge=background --layer=overlay -o background_opacity=0  cava"

